/client/node_modules
/server/node_modules
/node_modules
/.pnp
.pnp.js

/coverage

/build

client/dist
server/dist
server/uploads/*

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

.idea

npm-debug.log*
yarn-debug.log*
yarn-error.log*