html {
  scroll-behavior: smooth;
}

kbd {
  pointer-events: none;
  display: inline-flex;
  height: 1.25rem/* 20px */;
  user-select: none;
  align-items: center;
  gap: 0.25rem/* 4px */;
  border-radius: 0.25rem/* 4px */;
  border-width: 1px;
  background-color: hsl(var(--muted));
  padding-left: 0.375rem/* 6px */;
  padding-right: 0.375rem/* 6px */;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 10px !important;
  font-weight: 500;
  color: hsl(var(--muted-foreground));
  opacity: 1;
}



kbd > span {
  font-size: 0.75rem/* 12px */;
  line-height: 1rem/* 16px */;
}



.infinite-scroll-component__outerdiv {
  width: 100%;
}



.image-optional {
  @apply bg-[#f3f3f3] dark:bg-[#131313]
}

.bg-image-wrapper {
  @apply overflow-hidden w-full flex justify-center box-border image-optional
}

img:not([src]){
  opacity: 0;
}



.icon {
  @apply w-4 h-4
}

.icon-left {
  @apply w-4 h-4 mr-2
}

.icon-right {
  @apply w-4 h-4 ml-2
}

.sidebar {
  @apply top-[57px] box-border p-2 h-[calc(100vh-57px)] backdrop-blur bg-background/95 supports-[backdrop-filter]:bg-background/60 border-r
}